.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 垂直居中 */
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin: 2px auto;
  /* margin-bottom: 20px; */
  /* padding: 2%; */
  /* 水平居中 */
}

.carousel-inner {
  /* display: flex; */
  position: absolute;
  top: 0;
  /* bottom: 10; */
  left: 0;
  width: calc(500px * 5);
  transition: transform 1.5s ease-in-out;
  /* 添加过渡效果 */
}

.carousel-inner img {
  /* display: inline-block; */
  float: left;
  width: 500px;
  height: 300px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* dots */

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: gray;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: black;
}